Repository ScuffleTV/video: changes, and which Codecov flags are due for each by the changed paths.
All: scuffle-batching, scuffle-bootstrap, scuffle-context, scuffle-ffmpeg, scuffle-h3-webtransport, scuffle-http, scuffle-metrics, scuffle-pprof, scuffle-settings, scuffle-signal, postcompile, scuffle-image-processor

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 10%

github_checks:
  annotations: false

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

comment:
  layout: "header, diff, files, components"
  behavior: default
  require_changes: false
  require_head: no
  require_base: no

ignore:
  - "dev-tools/**"

component_management:
  individual_components:
    - component_id: scuffle-batching
      name: scuffle-batching
      paths:
        - crates/batching/**
    - component_id: scuffle-bootstrap
      name: scuffle-bootstrap
      paths:
        - crates/bootstrap/**
    - component_id: scuffle-context
      name: scuffle-context
      paths:
        - crates/context/**
    - component_id: scuffle-ffmpeg
      name: scuffle-ffmpeg
      paths:
        - crates/ffmpeg/**
    - component_id: scuffle-h3-webtransport
      name: scuffle-h3-webtransport
      paths:
        - crates/h3-webtransport/**
    - component_id: scuffle-http
      name: scuffle-http
      paths:
        - crates/http/**
    - component_id: scuffle-metrics
      name: scuffle-metrics
      paths:
        - crates/metrics/**
    - component_id: scuffle-pprof
      name: scuffle-pprof
      paths:
        - crates/pprof/**
    - component_id: scuffle-settings
      name: scuffle-settings
      paths:
        - crates/settings/**
    - component_id: scuffle-signal
      name: scuffle-signal
      paths:
        - crates/signal/**
    - component_id: postcompile
      name: postcompile
      paths:
        - crates/postcompile/**
    - component_id: scuffle-image-processor
      name: scuffle-image-processor
      paths:
        - crates/image-processor/**

feat(http): improved builder pattern
  crates/http/src/lib.rs
  crates/http/src/server/builder.rs
  crates/http/src/server/mod.rs
Due: scuffle-http

fix(http): powerset compilation
  crates/http/src/server/builder.rs
  crates/http/src/server/mod.rs
Due: scuffle-http

fix(http): axum example
  crates/http/examples/Cargo.toml
Due: scuffle-http

docs(http): feature flags
  crates/http/README.md
  crates/http/src/lib.rs
Due: scuffle-http

chore: workspace-hack
  crates/workspace-hack/Cargo.toml
Due: none

fix(http): remove hyper tracing feature
  .cargo/config.toml
  crates/http/Cargo.toml
Due: scuffle-http

fix(http): feature flags
  crates/http/src/backend/hyper/insecure.rs
  crates/http/src/backend/hyper/secure.rs
  crates/http/src/server/mod.rs
Due: scuffle-http

chore: workspace-hack
  Cargo.lock
  crates/workspace-hack/Cargo.toml
Due: none

fix(http): feature flags
  crates/http/Cargo.toml
  crates/http/src/backend/hyper/insecure.rs
  crates/http/src/backend/hyper/mod.rs
  crates/http/src/body.rs
  crates/http/src/server/mod.rs
Due: scuffle-http

fix(http): connection handling
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/hyper/insecure.rs
  crates/http/src/backend/hyper/mod.rs
  crates/http/src/backend/hyper/secure.rs
  crates/http/src/server/mod.rs
Due: scuffle-http

docs(http): add one more example
  crates/http/examples/Cargo.toml
  crates/http/examples/src/simple_service.rs
  crates/http/src/lib.rs
Due: scuffle-http

docs(http): add example to root doc
  Cargo.lock
  crates/http/Cargo.toml
  crates/http/README.md
  crates/http/examples/src/simple_service.rs
  crates/http/src/lib.rs
Due: scuffle-http

feat(http): new http server builder
  Cargo.lock
  crates/bootstrap/telemetry/src/lib.rs
  crates/context/src/lib.rs
  crates/http/Cargo.toml
  crates/http/examples/src/axum.rs
  crates/http/examples/src/simple_service.rs
  crates/http/src/lib.rs
  crates/http/src/server.rs
  crates/http/src/server/builder.rs
Due: scuffle-bootstrap, scuffle-context, scuffle-http

docs(http): fix links
  crates/http/src/lib.rs
  crates/http/src/server.rs
Due: scuffle-http

fix(http): enable_http3 builder
  crates/http/src/server.rs
Due: scuffle-http

feat(http): add tracked body
  Cargo.lock
  crates/http/Cargo.toml
  crates/http/src/body.rs
Due: scuffle-http

docs(http): tracked body
  crates/http/src/body.rs
Due: scuffle-http

update codecov and workspace alias
  Cargo.toml
  codecov.yml
Due: none

fix format
  crates/rtmp/src/chunk/define.rs
Due: none

fix(http): http3 feature
  crates/http/Cargo.toml
  crates/http/src/body.rs
  crates/http/src/lib.rs
Due: scuffle-http

docs(http): indents
  crates/http/README.md
  crates/http/src/lib.rs
Due: scuffle-http

fix(http): h3 body generic
  crates/http/src/backend/h3/body.rs
  crates/http/src/backend/h3/mod.rs
  crates/http/src/body.rs
Due: scuffle-http

fix(http): error handling
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/h3/utils.rs
  crates/http/src/error.rs
  crates/http/src/lib.rs
  crates/http/src/server.rs
Due: scuffle-http

fix(http): h3 response body
  crates/http/src/backend/h3/utils.rs
Due: scuffle-http

feat(http): add tracing instruments
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/hyper/insecure.rs
  crates/http/src/backend/hyper/secure.rs
Due: scuffle-http

docs(http): more docs
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/hyper/insecure.rs
  crates/http/src/backend/hyper/secure.rs
Due: scuffle-http

refactor(http): move test assets
  assets/cert.pem
  assets/key.pem
  crates/http/src/lib.rs
Due: scuffle-http

fix(http): context
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/hyper/insecure.rs
  crates/http/src/backend/hyper/secure.rs
  crates/http/src/server.rs
Due: scuffle-http

fix(http): update error type constraints
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/h3/utils.rs
  crates/http/src/backend/hyper/insecure.rs
  crates/http/src/backend/hyper/mod.rs
  crates/http/src/backend/hyper/secure.rs
  crates/http/src/error.rs
  crates/http/src/lib.rs
  crates/http/src/server.rs
Due: scuffle-http

fix(http): powserset compilation
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/hyper/insecure.rs
  crates/http/src/backend/hyper/secure.rs
Due: scuffle-http

fix(http): copy res body
  crates/http/src/backend/h3/utils.rs
Due: scuffle-http

fix(http): remove unused type constraints
  crates/http/src/backend/h3/body.rs
Due: scuffle-http

fix(http): drop Display type constraint
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/hyper/insecure.rs
  crates/http/src/backend/hyper/mod.rs
  crates/http/src/backend/hyper/secure.rs
  crates/http/src/lib.rs
  crates/http/src/server.rs
Due: scuffle-http

docs(http): morre docs
  crates/http/src/backend/h3/body.rs
  crates/http/src/backend/h3/utils.rs
Due: scuffle-http

test(http): add tracked body test
  crates/http/src/body.rs
  crates/http/src/lib.rs
Due: scuffle-http

add cargo bloat
  .github/workflows/ci.yaml
Due: none

add release stuffs
  .github/workflows/ci.yaml
  .github/workflows/release-plz.yaml
  Cargo.lock
  Cargo.toml
  crates/bootstrap/telemetry/src/lib.rs
  crates/bytes-util/Cargo.toml
  crates/ffmpeg/Cargo.toml
  crates/ffmpeg/src/encoder.rs
  crates/ffmpeg/src/io/output.rs
  crates/flv/Cargo.toml
  crates/flv/src/avc.rs
  crates/flv/src/hevc.rs
  crates/flv/src/lib.rs
  crates/flv/src/video.rs
  crates/future-ext/Cargo.toml
  crates/h264/Cargo.toml
  crates/h265/Cargo.toml
  crates/mp4/Cargo.toml
  crates/mp4/src/boxes/types/avcc.rs
  crates/mp4/src/boxes/types/hvcc.rs
  crates/mp4/src/tests/demux.rs
  crates/rtmp/Cargo.toml
  crates/transmuxer/Cargo.toml
  crates/transmuxer/src/codecs/aac.rs
  crates/transmuxer/src/codecs/av1.rs
  crates/transmuxer/src/codecs/avc.rs
  crates/transmuxer/src/codecs/hevc.rs
  crates/transmuxer/src/define.rs
  crates/transmuxer/src/lib.rs
  crates/transmuxer/src/tests/mod.rs
  release-plz.toml
Due: scuffle-bootstrap, scuffle-ffmpeg

add release stuff
  .github/workflows/ci.yaml
  .github/workflows/release-plz.yaml
  crates/flv/src/avc.rs
  crates/flv/src/lib.rs
  crates/flv/src/video.rs
  crates/mp4/src/tests/demux.rs
  crates/transmuxer/src/codecs/aac.rs
  crates/transmuxer/src/codecs/av1.rs
  crates/transmuxer/src/codecs/avc.rs
  crates/transmuxer/src/codecs/hevc.rs
  crates/transmuxer/src/define.rs
  crates/transmuxer/src/lib.rs
  crates/transmuxer/src/tests/mod.rs
  release-plz.toml
Due: none
