Repository ScuffleTV/video: changes, and which Codecov flags are due for each by the changed paths.
All: scuffle-batching, scuffle-bootstrap, scuffle-context, scuffle-ffmpeg, scuffle-h3-webtransport, scuffle-http, scuffle-metrics, scuffle-pprof, scuffle-settings, scuffle-signal, postcompile, scuffle-image-processor

add batching coverage
  crates/batching/Cargo.toml
  crates/batching/src/batch.rs
  crates/batching/src/dataloader.rs
  crates/batching/src/lib.rs
Due: scuffle-batching

fmt code
  crates/batching/src/batch.rs
  crates/batching/src/dataloader.rs
Due: scuffle-batching

fix readme
  README.md
Due: none

disable merge queue
  .github/workflows/ci.yaml
  .github/workflows/gh-cache.yaml
Due: none

change cache keys
  .github/workflows/ci.yaml
  .github/workflows/gh-cache.yaml
Due: none

chore: bump various libs
  Cargo.lock
  apps/image-processor/Cargo.toml
  crates/bootstrap/telemetry/Cargo.toml
  crates/http/Cargo.toml
  crates/metrics/Cargo.toml
Due: scuffle-bootstrap, scuffle-http, scuffle-metrics

fix: add workspace hack version
  Cargo.toml
Due: none

bump all crates
  Cargo.lock
  Cargo.toml
  apps/image-processor/Cargo.toml
  apps/image-processor/examples/Cargo.toml
  apps/image-processor/proto/Cargo.toml
  crates/batching/Cargo.toml
  crates/batching/examples/Cargo.toml
  crates/bootstrap/Cargo.toml
  crates/bootstrap/derive/Cargo.toml
  crates/bootstrap/examples/Cargo.toml
  crates/bootstrap/telemetry/Cargo.toml
  crates/context/Cargo.toml
  crates/ffmpeg/Cargo.toml
  crates/h3-webtransport/Cargo.toml
  crates/http/Cargo.toml
  crates/http/examples/Cargo.toml
  crates/metrics/Cargo.toml
  crates/metrics/derive/Cargo.toml
  crates/metrics/examples/Cargo.toml
  crates/postcompile/Cargo.toml
  crates/pprof/Cargo.toml
  crates/pprof/examples/Cargo.toml
  crates/settings/Cargo.toml
  crates/settings/examples/Cargo.toml
  crates/signal/Cargo.toml
Due: scuffle-batching, scuffle-bootstrap, scuffle-context, scuffle-ffmpeg, scuffle-h3-webtransport, scuffle-http, scuffle-metrics, scuffle-pprof, scuffle-settings, scuffle-signal, postcompile

add local just file
  .gitignore
  Justfile
Due: none

refactor(http): clean up feature flag mess
  crates/http/Cargo.toml
  crates/http/src/backend/mod.rs
  crates/http/src/backend/quic/body.rs
  crates/http/src/backend/quic/mod.rs
  crates/http/src/body.rs
  crates/http/src/error.rs
  crates/http/src/util.rs
Due: scuffle-http

refactor(h3-webtransport): split file
  crates/h3-webtransport/src/lib.rs
  crates/h3-webtransport/src/server.rs
  crates/h3-webtransport/src/server/connection.rs
Due: scuffle-h3-webtransport

fix(http): dependencies
  Cargo.lock
  crates/http/Cargo.toml
  crates/workspace-hack/Cargo.toml
Due: scuffle-http

fix(http): remove http3 from default features
  crates/http/Cargo.toml
Due: scuffle-http

fix(http): feature flags
  crates/http/src/backend/mod.rs
  crates/http/src/backend/tcp/config.rs
  crates/http/src/body.rs
  crates/http/src/error.rs
  crates/http/src/util.rs
Due: scuffle-http

feat(http): rewrite
  Cargo.lock
  crates/http/Cargo.toml
  crates/http/examples/Cargo.toml
  crates/http/examples/LICENSE.Apache-2.0
  crates/http/examples/LICENSE.MIT
  crates/http/examples/README.md
  crates/http/examples/src/axum.rs
  crates/http/examples/src/tcp.rs
  crates/http/src/backend/body.rs
  crates/http/src/backend/error.rs
  crates/http/src/backend/h3/body.rs
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/h3/utils.rs
  crates/http/src/backend/hyper/insecure.rs
  crates/http/src/backend/hyper/mod.rs
  crates/http/src/backend/hyper/secure.rs
  crates/http/src/backend/mod.rs
  crates/http/src/backend/quic/body.rs
  crates/http/src/backend/quic/mod.rs
  crates/http/src/backend/quic/quinn/config.rs
  crates/http/src/backend/quic/quinn/mod.rs
  crates/http/src/backend/quic/quinn/serve.rs
  crates/http/src/backend/quic/web_transport.rs
  crates/http/src/backend/tcp/config.rs
  crates/http/src/backend/tcp/mod.rs
  crates/http/src/backend/tcp/serve.rs
  crates/http/src/backend/tcp/util.rs
  crates/http/src/body.rs
  crates/http/src/builder.rs
  crates/http/src/config.rs
  crates/http/src/error.rs
  crates/http/src/lib.rs
  crates/http/src/server.rs
  crates/http/src/svc/axum.rs
  crates/http/src/svc/function.rs
  crates/http/src/svc/mod.rs
  crates/http/src/svc/tower.rs
  crates/http/src/util.rs
Due: scuffle-http

fix: workspace-hack
  Cargo.lock
  crates/http/Cargo.toml
  crates/workspace-hack/Cargo.toml
Due: scuffle-http

fix(http): examples cargo toml
  crates/http/examples/Cargo.toml
Due: scuffle-http

fix(http-examples): license files
  crates/http/examples/LICENSE.Apache-2.0
  crates/http/examples/LICENSE.MIT
Due: scuffle-http

fix(http-examples): readme
  crates/http/examples/README.md
Due: scuffle-http

refactor(http): api
  Cargo.lock
  crates/http/Cargo.toml
  crates/http/examples/Cargo.toml
  crates/http/examples/src/axum.rs
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/hyper/insecure.rs
  crates/http/src/backend/hyper/mod.rs
  crates/http/src/backend/hyper/secure.rs
  crates/http/src/backend/mod.rs
  crates/http/src/server.rs
Due: scuffle-http

refactor(http): improve api
  crates/http/examples/src/axum.rs
  crates/http/src/backend/mod.rs
  crates/http/src/server.rs
Due: scuffle-http

feat(http): error handling
  crates/http/examples/src/axum.rs
  crates/http/src/backend/body.rs
  crates/http/src/backend/error.rs
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/hyper/insecure.rs
  crates/http/src/backend/hyper/mod.rs
  crates/http/src/backend/hyper/secure.rs
  crates/http/src/backend/mod.rs
  crates/http/src/error.rs
  crates/http/src/lib.rs
  crates/http/src/server.rs
Due: scuffle-http

fix(http): remove config
  Cargo.lock
  crates/http/Cargo.toml
  crates/http/examples/src/axum.rs
  crates/http/src/config.rs
  crates/http/src/lib.rs
Due: scuffle-http

feat(http): add scuffle-context support
  crates/http/src/server.rs
Due: scuffle-http

chore: workspace-hack
  Cargo.lock
  crates/workspace-hack/Cargo.toml
Due: none

chore(http): fmt
  crates/http/examples/src/axum.rs
  crates/http/src/backend/h3/body.rs
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/h3/utils.rs
  crates/http/src/backend/hyper/insecure.rs
  crates/http/src/backend/hyper/mod.rs
  crates/http/src/backend/hyper/secure.rs
  crates/http/src/backend/mod.rs
  crates/http/src/error.rs
  crates/http/src/lib.rs
  crates/http/src/server.rs
Due: scuffle-http

fix(http): lints
  crates/http/src/backend/h3/mod.rs
  crates/http/src/server.rs
Due: scuffle-http

refactor(http): api
  Cargo.lock
  crates/http/Cargo.toml
  crates/http/examples/src/axum.rs
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/hyper/insecure.rs
  crates/http/src/backend/hyper/mod.rs
  crates/http/src/backend/hyper/secure.rs
  crates/http/src/backend/mod.rs
  crates/http/src/server.rs
  crates/http/src/server/builder.rs
  crates/http/src/server/mod.rs
Due: scuffle-http

feat(http): add service traits
  crates/http/examples/src/axum.rs
  crates/http/src/lib.rs
  crates/http/src/server/mod.rs
  crates/http/src/service.rs
Due: scuffle-http

feat(http): use new traits
  crates/http/examples/src/axum.rs
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/hyper/insecure.rs
  crates/http/src/backend/hyper/mod.rs
  crates/http/src/backend/hyper/secure.rs
  crates/http/src/error.rs
  crates/http/src/server/builder.rs
  crates/http/src/server/mod.rs
  crates/http/src/service.rs
Due: scuffle-http

chore(http): fmt
  crates/http/src/lib.rs
  crates/http/src/server/builder.rs
  crates/http/src/service.rs
Due: scuffle-http

Path conditions:
  scuffle-batching: any of: crates/batching/**, but not: dev-tools/**
  scuffle-bootstrap: any of: crates/bootstrap/**, but not: dev-tools/**
  scuffle-context: any of: crates/context/**, but not: dev-tools/**
  scuffle-ffmpeg: any of: crates/ffmpeg/**, but not: dev-tools/**
  scuffle-h3-webtransport: any of: crates/h3-webtransport/**, but not: dev-tools/**
  scuffle-http: any of: crates/http/**, but not: dev-tools/**
  scuffle-metrics: any of: crates/metrics/**, but not: dev-tools/**
  scuffle-pprof: any of: crates/pprof/**, but not: dev-tools/**
  scuffle-settings: any of: crates/settings/**, but not: dev-tools/**
  scuffle-signal: any of: crates/signal/**, but not: dev-tools/**
  postcompile: any of: crates/postcompile/**, but not: dev-tools/**
  scuffle-image-processor: any of: crates/image-processor/**, but not: dev-tools/**
