Repository ScuffleTV/video: changes, and which Codecov flags are due for each by the changed paths.
All: scuffle-batching, scuffle-bootstrap, scuffle-context, scuffle-ffmpeg, scuffle-h3-webtransport, scuffle-http, scuffle-metrics, scuffle-pprof, scuffle-settings, scuffle-signal, postcompile, scuffle-image-processor

fix comment update
  .github/workflows/ci.yaml
Due: none

create release
  .github/workflows/crate-release.yaml
Due: none

tmp
  .github/workflows/crate-release.yaml
Due: none

fix missing files
  crates/future-ext/LICENSE.Apache-2.0
  crates/future-ext/LICENSE.MIT
  crates/future-ext/README.md
  crates/h264/LICENSE.Apache-2.0
  crates/h264/LICENSE.MIT
  crates/h264/README.md
  crates/h265/LICENSE.Apache-2.0
  crates/h265/LICENSE.MIT
  crates/h265/README.md
  crates/mp4/LICENSE.Apache-2.0
  crates/mp4/LICENSE.MIT
  crates/mp4/README.md
  crates/rtmp/LICENSE.Apache-2.0
  crates/rtmp/LICENSE.MIT
  crates/rtmp/README.md
  crates/transmuxer/LICENSE.Apache-2.0
  crates/transmuxer/LICENSE.MIT
  crates/transmuxer/README.md
Due: none

fix tokio
  crates/ffmpeg/Cargo.toml
  crates/rtmp/Cargo.toml
Due: scuffle-ffmpeg

fix rtmp
  crates/rtmp/Cargo.toml
Due: none

fix version
  crates/batching/examples/Cargo.toml
  crates/bootstrap/examples/Cargo.toml
  crates/http/examples/Cargo.toml
Due: scuffle-batching, scuffle-bootstrap, scuffle-http

use version * for dev deps
  crates/bootstrap/Cargo.toml
  crates/bootstrap/telemetry/Cargo.toml
  crates/context/Cargo.toml
  crates/ffmpeg/Cargo.toml
  crates/metrics/Cargo.toml
  crates/metrics/derive/Cargo.toml
  crates/signal/Cargo.toml
Due: scuffle-bootstrap, scuffle-context, scuffle-ffmpeg, scuffle-metrics, scuffle-signal

change cargo metadata attribute
  crates/bootstrap/telemetry/Cargo.toml
  crates/ffmpeg/Cargo.toml
  crates/http/Cargo.toml
  crates/metrics/Cargo.toml
  crates/settings/Cargo.toml
  crates/transmuxer/Cargo.toml
  dev-tools/xtask/src/cmd/power_set/mod.rs
  dev-tools/xtask/src/cmd/power_set/utils.rs
  dev-tools/xtask/src/utils.rs
Due: scuffle-bootstrap, scuffle-ffmpeg, scuffle-http, scuffle-metrics, scuffle-settings

better comments
  dev-tools/xtask/src/cmd/power_set/utils.rs
Due: none

fix fmt
  dev-tools/xtask/src/cmd/power_set/mod.rs
Due: none

try warpbuild
  .github/actions/setup-rust/action.yaml
  .github/workflows/ci.yaml
Due: none

fix cache step
  .github/actions/setup-rust/action.yaml
  .github/workflows/ci.yaml
Due: none

try namespace
  .github/workflows/ci.yaml
Due: none

fix cache
  .github/actions/setup-rust/action.yaml
  .github/workflows/ci.yaml
Due: none

try blacksmith
  .github/actions/setup-rust/action.yaml
  .github/workflows/ci.yaml
Due: none

test gh actions
  .github/workflows/ci.yaml
Due: none

try buildjet
  .github/actions/setup-rust/action.yaml
  .github/workflows/ci.yaml
Due: none

try 8 cores
  .github/workflows/ci.yaml
Due: none

clippy cache per event
  .github/workflows/ci.yaml
Due: none

refactor(http): clean up feature flag mess
  crates/http/Cargo.toml
  crates/http/src/backend/mod.rs
  crates/http/src/backend/quic/body.rs
  crates/http/src/backend/quic/mod.rs
  crates/http/src/body.rs
  crates/http/src/error.rs
  crates/http/src/util.rs
Due: scuffle-http

refactor(h3-webtransport): split file
  crates/h3-webtransport/src/lib.rs
  crates/h3-webtransport/src/server.rs
  crates/h3-webtransport/src/server/connection.rs
Due: scuffle-h3-webtransport

fix(http): dependencies
  Cargo.lock
  crates/http/Cargo.toml
  crates/workspace-hack/Cargo.toml
Due: scuffle-http

fix(http): remove http3 from default features
  crates/http/Cargo.toml
Due: scuffle-http

fix(http): feature flags
  crates/http/src/backend/mod.rs
  crates/http/src/backend/tcp/config.rs
  crates/http/src/body.rs
  crates/http/src/error.rs
  crates/http/src/util.rs
Due: scuffle-http

feat(http): rewrite
  Cargo.lock
  crates/http/Cargo.toml
  crates/http/examples/Cargo.toml
  crates/http/examples/LICENSE.Apache-2.0
  crates/http/examples/LICENSE.MIT
  crates/http/examples/README.md
  crates/http/examples/src/axum.rs
  crates/http/examples/src/tcp.rs
  crates/http/src/backend/body.rs
  crates/http/src/backend/error.rs
  crates/http/src/backend/h3/body.rs
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/h3/utils.rs
  crates/http/src/backend/hyper/insecure.rs
  crates/http/src/backend/hyper/mod.rs
  crates/http/src/backend/hyper/secure.rs
  crates/http/src/backend/mod.rs
  crates/http/src/backend/quic/body.rs
  crates/http/src/backend/quic/mod.rs
  crates/http/src/backend/quic/quinn/config.rs
  crates/http/src/backend/quic/quinn/mod.rs
  crates/http/src/backend/quic/quinn/serve.rs
  crates/http/src/backend/quic/web_transport.rs
  crates/http/src/backend/tcp/config.rs
  crates/http/src/backend/tcp/mod.rs
  crates/http/src/backend/tcp/serve.rs
  crates/http/src/backend/tcp/util.rs
  crates/http/src/body.rs
  crates/http/src/builder.rs
  crates/http/src/config.rs
  crates/http/src/error.rs
  crates/http/src/lib.rs
  crates/http/src/server.rs
  crates/http/src/svc/axum.rs
  crates/http/src/svc/function.rs
  crates/http/src/svc/mod.rs
  crates/http/src/svc/tower.rs
  crates/http/src/util.rs
Due: scuffle-http

fix: workspace-hack
  Cargo.lock
  crates/http/Cargo.toml
  crates/workspace-hack/Cargo.toml
Due: scuffle-http

Path conditions:
  scuffle-batching: any of: crates/batching/**, but not: dev-tools/**
  scuffle-bootstrap: any of: crates/bootstrap/**, but not: dev-tools/**
  scuffle-context: any of: crates/context/**, but not: dev-tools/**
  scuffle-ffmpeg: any of: crates/ffmpeg/**, but not: dev-tools/**
  scuffle-h3-webtransport: any of: crates/h3-webtransport/**, but not: dev-tools/**
  scuffle-http: any of: crates/http/**, but not: dev-tools/**
  scuffle-metrics: any of: crates/metrics/**, but not: dev-tools/**
  scuffle-pprof: any of: crates/pprof/**, but not: dev-tools/**
  scuffle-settings: any of: crates/settings/**, but not: dev-tools/**
  scuffle-signal: any of: crates/signal/**, but not: dev-tools/**
  postcompile: any of: crates/postcompile/**, but not: dev-tools/**
  scuffle-image-processor: any of: crates/image-processor/**, but not: dev-tools/**
